/*@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto:ital,wght@0,400;0,500;1,500&display=swap');


/*START MEYERS RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*END MEYERS RESET*/
* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
}

em {
  font-style: italic;
}

/*START LEFT SIDE*/
#left-side {
  flex: 1 1 auto;
  background: url('./images//plants.jpg');
  background-size: cover;
  color: #fff;
  position: relative;
}


.logo-container {
  background: rgba(0, 0, 0, 0.45);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  width: 100%;
  font-family: 'Amatic SC', Helvetica, sans-serif;
  font-size: 5.2rem;
  letter-spacing: 1.2px;
}

.logo-container img {
  height: 100px;
}


.img-attribution {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.95rem;
}

.img-attribution a {
  color: #fff;
}

/*END LEFT SIDE*/

/*START RIGHT SIDE*/
#right-side {
  flex: 0 0 1100px;
  font-family: 'Roboto', Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#right-side h3 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.9rem;
}

.form-heading {
  max-width: 850px;
  border: 1px solid red;
  padding: 0 2.5rem;
}

.form-heading>h3:nth-child(3) {
  margin: 1.5rem 0 0 0;
}

.form-container {
  width: 100%;
  margin: 2.5rem 0 0 0;
  padding: 1.5rem 0 1.5rem 2.5rem;
  background: #ddd;
  border: 1px solid black;
}

form {
  margin: 1.5rem 0 0 0;
  border: 1px solid red;
  width: fit-content;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 300px 300px;
  column-gap: 4.7rem;
  row-gap: 1.5rem;
}

form>div {
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 0.75rem;
  letter-spacing: 0.07rem;
  font-weight: 500;
  text-transform: uppercase;
}

form input {
  width: 100%;
}


.form-footer {
  margin: 2rem 0 0 0;
  padding: 0 0 0 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-footer button {
  width: fit-content;
  color: #fff;
  background: rgb(72, 107, 61);
  font-size: 1.05rem;
  padding: 0.8rem 2.5rem;
  font-weight: bold;
  border-radius: 8px;
}

/*END RIGHT SIDE*/